<%= render partial: 'errors', locals: {listing: @listing} %>

<div class="container">
  <%= form_for [account, listing] do |f| %>
  	<div class="field_with_errors">
  		<%= f.label :name %>
  		<%= f.text_field :name, class: "form-control" %>
  	</div>

  	<div class="field_with_errors">
  		<%= f.label :description %>
  		<%= f.text_area :description, class: "form-control" %>
  	</div>

    <div class="field_with_errors">
  		<%= f.label :photo %>
  		<%= f.file_field :photo, class: "form-control" %>
  	</div>

  	<%= f.hidden_field :account_id, :value => session[:account_id] %>
  	<%= f.submit "Create Listing", class: "btn btn-primary" %>
  <% end %>

</div>
