<p>Name: <%= @listing.name %></p>
<p>Description: <%= @listing.description %></p>
<p>Seller: <%= @listing.account.username %></p>

<% if @account == @user %>

<%= link_to "Edit Listing", edit_account_listing_path, class: "btn btn-primary" %>
<%= link_to "Delete Listing", account_listing_path(@account, @listing), method: :delete, data: {confirm: "You sure?"}, class: "btn btn-danger" %>


<% else %>

  <%= form_for @bid do |f| %>
    <select name="bid[buyer_listing_id]">
      <% @user.listings.each do |listing| %>
        <option value="<%= listing.id %>"><%= listing.name %></option>
      <%end%>
    </select>
	  <%= f.hidden_field :seller_listing_id, :value => @listing.id %>
  	<%= f.submit "Bid", id: "bid-submit" %>
  <% end %>

<% end %>

<% @bids.each do |bid| %>
<p><%= Listing.find(bid.buyer_listing_id).account.username%>  offers   <span class="offer"> <%=Listing.find(bid.buyer_listing_id).name %></span>
  in exchange for <span class="request"><%= Listing.find(bid.seller_listing_id).name %></span>
  <% if session[:account_id] == Listing.find(bid.seller_listing_id).account_id %>
    <a href="#">Accept Bid</a>
    <%= link_to "Edit Bid", edit_bid_path(bid), id: "edit"%>
  <% end %>
</p>
<% end %>
