<p>Name: <%= @listing.name %></p>
<p>Description: <%= @listing.description %></p>
<p>Seller: <%= @listing.account.username %></p>
<p><%= image_tag @listing.photo.url(:medium) %></p>
<p>Session ID: <%= session[:account_id] %>

<% if @account == @user %></p>

  <%= link_to "Edit Listing", edit_account_listing_path, class: "btn btn-warning" %>
  <%= link_to "Delete Listing", account_listing_path(@account, @listing), method: :delete, data: {confirm: "You sure?"}, class: "btn btn-danger" %>

<% else %>

  <%= render partial: "make_bid", locals: {user: @user, bid: @bid, listing: @listing} %>

<% end %>

<% @bids.each do |bid| %>

  <p>

    <%= Listing.find(bid.buyer_listing_id).account.username + " offers " + Listing.find(bid.buyer_listing_id).name %>
    in exchange for <%= Listing.find(bid.seller_listing_id).name %>

    <% if @user.id == Listing.find(bid.seller_listing_id).account_id %>

      <%= form_tag '/accept_offer', method: 'post', action: "accept_offer" do %>
        <input type="hidden" name="seller_listing_id" value="<%= bid.seller_listing_id%>" >
        <input type="hidden" name="buyer_listing_id" value="<%= bid.buyer_listing_id %>" >
        <%= submit_tag "Accept Offer", :name=> nil, class: "btn btn-primary", id: "search-submit" %>
      <% end %>

    <% end %>

  </p>

<% end %>
