<div class="col-md-4">
  <h4 style="text-align:center">Select what you would like for your...</h4>
  <%= render partial: "listings/listing", locals: {listing: @bid.seller_listing} %>
</div>

<div class="col-md-8">
  <div class="feed" style="height:700px; overflow-y:scroll">
  <%= form_for @bid do |f|%>
    <% @listings.each do |l| %>
      <div class="listing col-md-6 col-md-offset-3">
        <%= render partial: "listings/listing", locals: {listing: l} %>
      </div>
    <% end %>
    <!-- <%= submit_tag "Accept Offer", :name=> nil, class: "btn btn-success", id: "search-submit", style:'position:absolute; top:300px; width: 150px; text-align:center' %> -->
    <%= f.submit "Update Offer", class:'btn btn-warning', style:'position:absolute; top:250px; width: 150px; text-align:center'%>
    <%end%>
  </div>
</div>
