<div class="row home-section-1">
	<div class="col-md-12 ind-head" style="background:url('<%= image_url 'pexels-photo-24469' %>');">
		<div class="bizaar-top-section">
		<h1>Bizaar</h1>
		<h2>What will you trade?</h2>
		<%= form_tag listings_path, method: 'get', class: "search-nav home-search-form" do %>
		    <%= text_field_tag :search, params[:search], placeholder: "Utilikilt, Used Jorts, etc.", class: 'home-search-field' %>
		    <%= submit_tag "search", :name=> nil, class: "btn btn-lrg-standard home-srch-btn" %>
		<% end %>
		</div>
	</div>
</div>

<div class="row home-welcome-box">
	<div class="user-hello">
		<div class="user-welcome">Hello <%= @account.username %>!</div>
		<div class="new_listing">
			<%= link_to "Create a new listing!", new_account_listing_path(@account.id), class: "btn btn-lrg-standard" %>
		</div>
	</div>
</div>

<br>
	<%= render 'accounts/listings_feed' %>
<br>
