<div class="container">  

  <div class="col-md-4">
    <div class="listing-post" style="text-align:center;">
      <div><%= image_tag @account.avatar.url(:medium), class: "prof-pic" %></div>
      <h2><%= @account.username %></h2>
      <br>
    </div><br>
    <% if @account == @user %>
      <div class="centerbox">
        <%= link_to "Create Listing", new_account_listing_path(@user), class: "btn btn-secondary usr-btns"  %>
        <%= link_to "Edit Account", edit_account_path(@user), class: "btn btn-secondary usr-btns" %>
        <%= link_to "Delete Account", account_path(@user), method: :delete, data: {confirm: "You sure?"}, class: "btn btn-secondary usr-btns" %>
      </div>
    <% end %>
  </div>
  <div class="col-md-4" style="padding-top:20px;">
    <h3 style="text-align:center;"><%= @account.username %>'s listings</h3>
    <div style="overflow-y:scroll; height:400px;padding:10%;">
    <%= render 'listings_profile' %>
    </div>
  </div>
  
  <br>
  
  <div class="col-md-4">
    <h3 style="text-align:center;"><%= @account.username %>'s bids</h3>
    <div class="listing-post">
      <div id="outgoing_bids">
        <% if @account.buyer_bids.empty?%>
          <p>You haven't bid on anything yet!</p>
        <%else%>
          <h4>You have bid on the following items:</h4>   
          <table class= "table ">
            <th> Listing</th>
            <th> Offer</th>
            <% @account.buyer_bids.each do |bid| %>
              <tr>
                <td><%= link_to bid.seller_listing.name, account_listing_path(bid.seller_listing) %></td>
                <td><%= bid.buyer_listing.name %></td>
              </tr>
            <%end%>
          </table>
        <%end%>
      </div>
      <hr>
      <div  id="incoming_bids">
        <% if @account.seller_bids.empty?%>
          <p>You don't have any bids on your items.</p>
        <%else%>
          <h4>Offers made on your listings:</h4>   
          <table class= "table ">
            <th> Listing</th>
            <th> Offer</th>
            <% @account.seller_bids.each do |bid| %>
              <tr>
                <td><%= bid.buyer_listing.name %></td>
                <td><%= link_to bid.seller_listing.name, account_listing_path(bid.seller_listing) %></td>
              </tr>
            <%end%>
          </table>
        <%end%>
      </div>
  </div>
</div>
