<% if @account == @user %>
  <%= link_to "New Listing", new_account_listing_path(@account), class: "btn btn-success" %>
  <%= link_to "Edit Account", edit_account_path(@account), class: "btn btn-warning" %>
  <%= link_to "Delete Account", account_path(@account), method: :delete, data: {confirm: "You sure?"}, class: "btn btn-danger" %>
<% end %>

<h2><%= @account.username %>'s Listings</h2>
<%= image_tag @account.avatar.url(:medium) %>

<br>

<%= render 'listings_feed' %>

<br>

<h3>Bids:</h3>
<div id="account_bids">
  <table class= "table ">
  <th> Listing</th>
  <th> Offer</th>
  <% @bids.each do |bid| %>
      <tr>
        <td>
        <% listing=Listing.find(bid.seller_listing_id)%>
        <%= listing.name%>
        </td>
        <td>
        <% offer= Listing.find(bid.buyer_listing_id)%>
        <%= offer.name%>
        </td>
      </tr>
      <%end%>
</div>
    </table>
