<h1>Hello <%= @account.username %>!</h1>

<div class="new_listing"><%= link_to "Create a new listing!", new_account_listing_path(@account.id) %></div>

<br>

<h2><%= @account.username %>'s Listings</h2>
<div class="feed">
  <% @listings.each do |l| %>
  <h3><%= l.name %></h3>
  <p><%= link_to l.account.username, account_path(l.account_id) %></p>
  <p><%= l.description %></p>
  <p>-----------------</p>
  <% end %>
</div>

<br>

<div class="logout">
<%= form_tag ({controller: 'sessions', action: 'destroy', method: 'post'}) do %>
  <input type=submit value='Log Out'>
<% end %>
</div>
